In [8]:
import sys
import os
import pandas as pd

# Add project root to sys.path in Jupyter or interactive session
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "../../../..")))

from config.path_config import DATA_DIR, PROJECT_DIR, DEPENDENCIES_DIR
from processor import *

from dotenv import load_dotenv

In [ ]:
env_path = os.path.join(DEPENDENCIES_DIR, ".env")
load_dotenv(env_path)
api_key = os.getenv("OPENAI_API_KEY")

In [13]:
raw_data = pd.read_excel(os.path.join(DATA_DIR, "wave_9_raw_data.xlsx"))
data_map = pd.read_excel(os.path.join(DATA_DIR, "wave_9_data_map.xlsx"))

In [14]:
a,b,c,d = run_question_data_pipeline(data_map, raw_data, api_key)

c:\Users\72670\OneDrive - Bain\Documents\BCN Labs\Projects\2024\CL Excel Chatbot\repo\CL_Chatbot_V_01\src\helper_functions\data_pre_processing\data_upload_processor\question_embedder.py:58: LangChainDeprecationWarning: The class `OpenAIEmbeddings` was deprecated in LangChain 0.0.9 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import OpenAIEmbeddings``.
  text_splitter = SemanticChunker(OpenAIEmbeddings(api_key=api_key), breakpoint_threshold_type="standard_deviation")

In [ ]:
#Processed Data Map
a

,Question_code,Question_string,answer_code,answer_string
0,Q4,What is your age?,None,What is your age?
1,Q6,What is your <zip code|post code (Outward or f...,None,What is your <zip code|post code (Outward or f...
2,Q21,Please describe what are you most excited / op...,None,Please describe what are you most excited / op...
3,Q22,Please describe what are you most worried / pe...,None,Please describe what are you most worried / pe...
4,Q28,"During a typical day on average, in number of ...",None,"During a typical day on average, in number of ..."
...,...,...,...,...
642,Q149,Please select your country,4,Italy
643,Q149,Please select your country,5,France
644,Q149,Please select your country,6,Poland
645,Q149,Please select your country,7,Spain
646,Q149,Please select your country,8,Australia

In [23]:
#Mapped raw data
b.head(5)

,Respondent,Status,Term reason,Start time (GMT),End time (GMT),Panel,country,first_param,second_param,qc_young_with_older_child,...,dArea,Income range,dEmploymentStatus,dPol.View,WFH vs. Non. WFH,Children/no children,dHousingType,Italy region,Italy region_2,q36
0,psid=aoVM_ghBoKmOwKqnPuiOgw**,Qualified,NaN,2024-04-10 14:03:16.282,2024-04-10 14:14:12.413,Dynata(UK),UK,N12000009,N99999999,0,...,Village,"<currency>75,000 to <currency>99,999",Employed,NaN,WFH,No children,House (detached/ no walls shared with neighbors),-,-,1
1,psid=aoVM_ghBoKmfbQ_LSEXXJw**,Qualified,NaN,2024-04-10 14:02:57.627,2024-04-10 14:14:52.961,Dynata(UK),UK,E30000237,E12000006,0,...,Town,"Less than <currency>25,000",Unemployed,NaN,WFH question not asked,No children,Apartment,-,-,0
2,psid=aoVM_ghBoKkbypemchYu8Q**,Qualified,NaN,2024-04-10 14:02:58.232,2024-04-10 14:16:31.563,Dynata(UK),UK,E30000180,E12000009,0,...,Suburb,"<currency>25,000 to <currency>49,999",Unemployed,NaN,WFH question not asked,Children,House (detached/ no walls shared with neighbors),-,-,0
3,psid=aoVM_ghBoKmGORLCiWWszg**,Qualified,NaN,2024-04-10 14:03:16.368,2024-04-10 14:18:08.931,Dynata(UK),UK,E30000234,E12000007,0,...,City center,"<currency>200,000 or more",Employed,NaN,WFH,Children,Apartment,-,-,0
4,psid=aoVM_ghBoKlmPGmmlwc6Qw**,Qualified,NaN,2024-04-10 14:03:38.911,2024-04-10 14:18:21.485,Dynata(UK),UK,E30000190,E12000004,0,...,Town,"Less than <currency>25,000",Employed,NaN,No WFH,No children,Semi-detached house (share walls with neighbors),-,-,0

In [ ]:
#Type subtype
c

,Question_no.,Question,Type,Sub-type
0,Q4,What is your age?,Multiple choice,single-select
1,Q6,What is your <zip code|post code (Outward or f...,Multiple choice,single-select
2,Q21,Please describe what are you most excited / op...,Multiple choice,single-select
3,Q22,Please describe what are you most worried / pe...,Multiple choice,single-select
4,Q28,"During a typical day on average, in number of ...",Matrix,single-select
...,...,...,...,...
617,Q78,"Which of these, best describes your typical on...",Multiple choice,single-select
620,Q79,Which of the following factors best describes ...,Multiple choice,multi-select
632,Q80,"Thinking back to your last online order, how d...",Multiple choice,single-select
634,Q81,"Thinking back to your last online order, how s...",Multiple choice,single-select
639,Q149,Please select your country,Multiple choice,single-select

In [ ]:
#Question List and Embeddings
print(len(d))
print(d[0])

80
What is the highest degree or level of school you have completed? Some high school, no diploma|| High school graduate (or equivalent)|| Some college credit, no degree|| Vocational, Trade, or Technical training|| Associate's Degree|| Bachelor's Degree|| Master's Degree|| Doctoral or Professional Degree (PhD, Ed.D, JD, DVM, DO, MD, DDS, or above)|| Left school before GCSEs|| Completed GCSEs|| Completed A Levels|| Some college, but no degree|| Degree or masters (Bsc/Msc, BA/MA, MEng etc)|| Professional Degree (e.g. MD, JD, MBA) UK|| Doctorate (e.g. PhD, EdD) UK|| Grundschule|| Hauptschule|| Realschule|| Gymnasium/ Berufliches Gymnasium/ Fachgymnasium|| Fachoberschule, Fachschule, Berufsschule, Berufsfachschule|| Technische Hochschule/ Padagogische Hochschule, Kunsthochschule/ Musikhochschule|| Fachhochschule|| Universität, Technische Universität|| Universität / Hoschschule|| Doktorat oder höher|| Enseignement secondaire incomplet (Collège ou Lycée)|| Enseignement secondaire achevé (Baccalauréat ou équivalent)|| Universitaire ou professionnel mais pas (encore) obtenu le certificat/diplome (CAP/BEP)|| Certification professionnelle achevée (BTS, DUT ou équivalent)|| Formation universitaire achevée (Bac+3)|| Formation supérieure achevée (Bac+5 : Master, diplôme d'ingénieur ou équivalent)|| Doctorat, post-doctorat ou équivalent (Bac +8) ou plus|| Less than high school diploma|| High school diploma or GED|| Associate's Degree (e.g. AA, AS)|| Bachelor's Degree (e.g. BA, BS)|| Master's Degree (e.g. MA, MS, MEng)|| Professional Degree (e.g. MD, JD, MBA)|| Doctorate (e.g. PhD, EdD)|| Prefer not to respond